.landingpage {
  background: url("../../../public/images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: -7.7px;
  margin-right: -7px;
  margin-left: -9px;
}
.div2 {
  display: flex;
}
.leftimg {
  height: 500px;
  width: 390px;
  display: flex;
  margin-top: -50px;
  flex: 4;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 60px;
  margin-top: 90px;
  margin-left: 50px;
  text-shadow: 4px 6px 6px teal;
}
.center {
  flex: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}
.tag {
  margin-left: 120px;
  color: black;
  font-size: 20px;
  font-style: italic;
}
.centerup {
  width: 650px;
}
.centerright1 {
  display: flex;
  flex: 6;
  margin-left: -50px;
  transform: rotate(45deg);
}
.img {
  border-radius: 10px;
  margin-top: 20px;
  width: 120px;
  height: 120px;
}
.centerimg {
  width: 120px;
  height: 120px;
  border-radius: 5px;
}
.centerdown .img3 {
  margin-top: 305px;
  margin-left: -300px;
  transform: rotate(45deg);
  border-radius: 10px;
}
.centerright2 {
  transform: rotate(45deg);
  margin-left: -30px;
  margin-top: 300px;
  border-radius: 10px;
}

.right {
  flex: 3;
}
